<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Typing Challenge</h5>
    <!-- <p class="card-text"> {{randomText}}</p> -->
    <p class="card-text">
      <span
      [class]="compare(letter, enteredText[i])" 
      *ngFor="let letter of randomText.split(''); let i = index;">{{letter}}</span>
    </p>
    <input class="form-control mb-3" (input)="onInput($event)" />   
    <div class="w-100 col" *ngIf="randomText===enteredText">
    <div class="text-success"><b>Success</b></div>
  </div>
  </div>
</div>